@import url('https://fonts.googleapis.com/css2?family=Anton&family=Libre+Franklin:wght@100&display=swap');

body {
  max-width: 1200px;
  margin: auto;
  background: url('/img/jeopardybackground.png');
}

header {
  margin: 10px;
  padding: 10px;
  background-color: rgba(217, 217, 217, 0.525);
}

.header-div {
  display: flex;
  justify-content: space-between;
}

nav {
  width: 40%;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

div.headBox {
  border-radius: 10px;
  background-color: rgba(0, 0, 255, 0.819);
  height: 80px;
  width: 350px;
  font-size: 50px;
  text-align: center;
  display: flex;
  justify-content: space-between;
  margin: 0px 0px 0px 400px;
  font-family: 'Anton', sans-serif;
  text-shadow: 2px 0px black;
  color: rgb(255, 255, 255);
}

section {
  border-radius: 10px;
  background-color: rgba(232, 232, 232, 0.863);
  height: 300px;
  width: 700px;
  font-size: 20px;
  text-align: left;
  display: flex;
  margin: 25px 0px 0px 250px;
}

section.meganBox {
  justify-content: space-between;
}

section.diegoBox {
  justify-content: space-between;
}

p {
  margin: auto;
  text-align: justify;
}

p.aboutJoe {
  width: 415px;
  margin: 10px 0px 0px 10px;
}

p.aboutMegan {
  margin: 10px 0px 0px 10px;
  width: 465px;
}

p.aboutBen {
  width: 430px;
}

p.aboutMarc {
  margin-right: 10px;
}

p.aboutDiego {
  margin-right: 15px;
}

.copy {
  padding-left:500px;
}

img {
  border-radius: 10px;
  border: 5px solid rgb(0, 0, 0);
}

img.joeImg {
  margin: 50px 20px 0px 20px;
}

img.meganImg {
  margin: 38px 20px 0px 0px;
}

img.marcImg {
  margin: 50px 20px 0px 20px;
}

img.diegoImg {
  margin: 50px 20px 0px 20px;
}

img.benImg {
  margin: 38px 50px 0px 0px;
}

img.logo {
  border: none;
  border-radius: none;
}

#external-links {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  border: none;
}

#external-links img {
  padding-left: 10px;
  height: 50px;
  margin-left: 150%;
  border: none;
}

nav,
a {
  text-shadow: 1px 0px black;
  font-family: 'Anton', sans-serif;
  font-size: 30px;
  text-decoration: none;
  color: rgb(23, 20, 234);
  transition: all 0.4s linear;
}

a:hover {
  color: #c5974d;
}
