@import url('https://fonts.googleapis.com/css2?family=Anton&family=Libre+Franklin:wght@100&display=swap');

body {
  max-width: 1200px;
  margin: auto;
  background: url('/img/jeopardybackground.png');
}

header {
  margin: 10px;
  padding: 10px;
  background-color: rgba(217, 217, 217, 0.525);
}

.header-div {
  display: flex;
  justify-content: space-between;
}

nav {
  width: 40%;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

#external-links {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}

#external-links img {
  padding-left: 10px;
  height: 50px;
}

main {
  border-radius: 10px;
  margin: 10px;
  padding: 10px;
  padding-right: 20px;
  padding-bottom: 20px;
  background-color: black;
}

footer {
  background-color: rgba(189, 189, 189, 0.614);
  height: 50px;
  display: flex;
}

p {
  margin: auto;
}

.copy {
  text-align: center;
}

.numberAndName {
  padding: 0px 0px 0px 300px;
}

#questions {
  display: flex;
  justify-content: center;
}

#questions > * {
  width: 15%;
  flex-direction: column;
  font-size: x-large;
  font-family: 'Anton', sans-serif;
}

/* VVV selects all divs in the Jeopardy grid VVV */
#questions div > * {
  display: block;
  text-align: center;
  padding: 15px;
  background-color: rgb(23, 20, 234);
  margin-top: 10px;
  margin-left: 10px;
  text-shadow: 3px 2px black;
  transition: all 0.4s linear;
}

#javascript div {
  cursor: pointer;
}
#html div {
  cursor: pointer;
}
#css div {
  cursor: pointer;
}
#git div {
  cursor: pointer;
}

div:hover {
  color: red;
}

span {
  color: white;
}

div {
  color: #c5974d;
}

nav,
a {
  text-shadow: 1px 1px black;
  font-family: 'Anton', sans-serif;
  font-size: 30px;
  text-decoration: none;
  color: rgb(23, 20, 234);
  transition: all 0.4s linear;
}

a:hover {
  color: #c5974d;
}

input {
  border: 1px;
  font-family: sans-serif;
  margin-top: 10px;
  font-size: 20px;
  color: black;
  background-color: rgba(255, 255, 255, 0.825);
}

input.submitButton {
  color: #c5974d;
  border-radius: 5px;
  background-color: rgba(45, 45, 253, 0.903);
  font-family: 'Libre Franklin', sans-serif;
  transition: all 0.3s linear;
}

.submitButton:hover {
  background-color: blue;
}

#q-display {
  border: dashed;
  border-radius: 5px;
  width: 40%;
  margin: auto;
  margin-top: 10px;
  padding: 15px;
  background-color: blue;
  color: white;
  display: flex;
  flex-direction: column;
}

#input {
  margin-top: 10px;
  display: flex;
  justify-content: center;
}

#input > input:first-child {
  margin-right: 10px;
}
