@import url('https://fonts.googleapis.com/css2?family=Anton&family=Libre+Franklin:wght@100&display=swap');

body {
  max-width: 1200px;
  margin: auto;
  background: url('../img/jeopardybackground.png');
}

header {
  margin: 10px;
  padding: 10px;
  background-color: rgba(217, 217, 217, 0.525);
}

.header-div {
  display: flex;
  justify-content: space-between;
}

nav {
  width: 40%;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

main {
  border-radius: 10px;
  height: 80vh;
  margin: 10px;
  padding: 10px;
  padding-right: 20px;
  padding-bottom: 20px;
  background-color: black;
}

h1 {
  text-align: center;
  color: #c5974d;
  font-family: 'Anton', sans-serif;
  letter-spacing: 4px;
  font-size: 60px;
}

main li {
  list-style-type: none;
  text-align: center;
  color: rgb(251, 252, 252);
  font-family: 'anton', sans-serif;
  letter-spacing: 3px;
  font-size: 30px;
}

footer {
  margin: 10px;
  padding: 10px;
  background-color: rgba(189, 189, 189, 0.614);
  height: 50px;
  display: flex;
}

.copy {
  padding-left: 500px;
}

nav,
a {
  text-shadow: 1px 0px black;
  font-family: 'Anton', sans-serif;
  font-size: 30px;
  text-decoration: none;
  color: rgb(23, 20, 234);
  transition: all 0.4s linear;
}

a:hover {
  color: #c5974d;
}

#input {
  margin-top: 10px;
  display: flex;
  justify-content: center;
}

#external-links {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}

#external-links img {
  padding-left: 10px;
  height: 50px;
  margin-left: 150%;
}
