body{
    max-width: 1200px;
    margin: auto;
    background-color: rgb(81, 175, 252);
  }
  
  header{
    margin: 10px;
    padding: 10px;
    background-color: bisque;
  }
  
  .header-div{
    display: flex;
    justify-content: space-between;
  }
  
  nav{
    width: 40%;
    display: flex;
    justify-content: space-between;
    align-items:flex-end;
  }
  
  #external-links{
    display: flex;
    align-items:flex-end;
    justify-content: space-between;
  }
  
  #external-links img{
    padding-left: 10px;
  }
  
  main {
    height: 500px;
    background-color: 
  }

  section.headBox {
    border-radius: 10px;
    background-color: rgb(218, 236, 252);
    height: 150px;
    width: 400px;
    font-size: 50px;
    text-align: center;
    display: flex;
    justify-content: space-between;
    margin: 0px 0px 0px 400px;
  }

  section.topBox {
    border-radius: 10px;
    background-color: rgb(218, 236, 252);
    height: 300px;
    width: 700px;
    font-size: 20px;
    text-align: center;
    display: flex;
    justify-content: space-between;
    margin: 25px 0px 0px 250px
  }

  section.middleBox {
    border-radius: 10px;
    background-color: rgb(218, 236, 252);
    height: 300px;
    width: 700px;
    font-size: 20px;
    text-align: left;
    display: flex;
    justify-content: space-between;
    margin: 25px 0px 0px 250px
  }

  section.bottomBox {
    border-radius: 10px;
    background-color: rgb(218, 236, 252);
    height: 300px;
    width: 700px;
    font-size: 20px;
    text-align: center;
    display: flex;
    justify-content: space-between;
    margin: 25px 0px 0px 250px
  }

  footer {
  background-color: bisque;
  height: 50px;
  display: flex;
  }
  
  p {
    margin: auto;
  }
  
  .copy {
    padding: 0px 0px 0px 500px
  }
  
  .numberAndName {
    padding: 0px 0px 0px 400px
  }

  img {
    border-radius: 5px;
    border: 5px solid rgb(0, 0, 0);
  }

  .meganImg {
    margin: 20px 20px 0px 0px
  }

  .aboutMegan {
    margin: 5px 0px 0px 5px;
  }