body{
  max-width: 1200px;
  margin: auto;
}

header{
  margin: 10px;
  padding: 10px;
  background-color: bisque;
}

.header-div{
  display: flex;
  justify-content: space-between;
}

nav{
  width: 40%;
  display: flex;
  justify-content: space-between;
  align-items:flex-end;
}

#external-links{
  display: flex;
  align-items:flex-end;
  justify-content: space-between;
}

#external-links img{
  padding-left: 10px;
}

footer {
background-color: bisque;
height: 50px;
display: flex;
/* padding-left: 400px; */
}

p {
  margin: auto;
}

.copy {
  padding: 0px 0px 0px 500px
}

.numberAndName {
  padding: 0px 0px 0px 400px
}

#questions {
  display: flex;
}

#questions>* {
  flex-direction: column;
  margin: 10px;
  padding: 10px;
}
