body{
  max-width: 1200px;
  margin: auto;
}

header{
  margin: 10px;
  padding: 10px;
  background-color: bisque;
}

.header-div{
  display: flex;
  justify-content: space-between;
}

nav{
  width: 40%;
  display: flex;
  justify-content: space-between;
  align-items:flex-end;
}

#external-links{
  display: flex;
  align-items:flex-end;
  justify-content: space-between;
}

#external-links img{
  padding-left: 10px;
}

main{
  margin: 10px;
  padding: 10px;
  padding-right: 20px;
  padding-bottom: 20px;
  background-color: bisque;
}

footer {
  margin: 10px;
  padding: 10px;
  background-color: bisque;
  height: 50px;
  display: flex;
}

p {
  margin: auto;
}

.copy {
  padding: 0px 0px 0px 400px
}

.numberAndName {
  padding: 0px 0px 0px 300px
}

#questions {
  display: flex;
  justify-content: center;
}

#questions>* {
  width: 15%;
  flex-direction: column;
  font-size: x-large;
}

#questions div>*{
  display: block;
  text-align: center;
  padding: 15px;
  background-color: cadetblue;
  margin-top: 10px;
  margin-left: 10px;
}